{% extends "base.html" %}

{% block title %}
<title>Teammate</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' href='{% static 'mainhome.css' %}'/>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    {% if user.is_authenticated %}
    <div id="main_container">

        <div id="main_header">
            <h1><a id='main_title_a' href='{% url 'home' %}'>TeamMate</a></h1>
            <div id='main_header_right'>
                <a href='#' class='main_navi'></a>
                <a href='{% url 'alarm:alarm_list' user.customer.pk %}' class='main_navi'>notice</a>
                <a href='{% url 'edit:info_edit' user.customer.pk %}' class='main_navi'>mypage</a>
                <a href='{% url 'users:logout' %}' id='main_signout'>signout</a>
            </div>
        </div>
        <div id="main_article_top">
            <div id="main_intro_box">
                <p class='main_intro'>Create your team</p>
                <p class='main_intro'>Right now</p>
                <img id='main_line_type_A' src='{% static 'line_type_A.png' %}' />

                {% if user.customer.study.get.study_sum != 10 %}
                <p class="main_subtro">
                    선호스터디 설정이 제대로 이루어지지 않았습니다! <a href="{% url 'edit:study_edit' user.customer.pk%}" class="alert-link">수정하기</a>              
                </p>
                {% endif %}
                {% if user.customer.domain.get.domain_sum != 10 %}
                <p class="main_subtro">
                    흥미도메인 설정이 제대로 이루어지지 않았습니다! <a href="{% url 'edit:domain_edit' user.customer.pk%}" class="alert-link">수정하기</a>         
                </p>
                {% endif %}
                {% if user.customer.score.get.score_sum == 0 %}
                <p class="main_subtro">
                    실력 설정이 제대로 이루어지지 않았습니다! <a href="{% url 'edit:score_edit' user.customer.pk%}" class="alert-link">수정하기</a>               
                </p>
                {% endif %}
                {% if user.customer.role.get.role_sum != 10 %}
                <p class="main_subtro">
                    선호역할 설정이 제대로 이루어지지 않았습니다! <a href="{% url 'edit:role_edit' user.customer.pk%}" class="alert-link">수정하기</a>             
                </p>
                {% endif %}
                {% if team_message_list|length %}
                <p class="main_subtro">
                    미확인 팀메이트 요청 메세지가 존재합니다. <a href="{% url 'alarm:alarm_list' user.customer.pk%}" class="alert-link">({{team_message_list|length}})</a>         
                </p>
                {% endif %}
                {% if study_message_list|length %}
                <p class="main_subtro">
                    미확인 스터디메이트 요청 메세지가 존재합니다. <a href="{% url 'alarm:alarm_list' user.customer.pk%}" class="alert-link">({{study_message_list|length}})</a>             
                </p>
                {% endif %}
                {% if user.customer.study.get.study_sum == 10 and user.customer.score.get.score_sum != 0 and user.customer.domain.get.domain_sum == 10 and user.customer.role.get.role_sum == 10 %}
                <p class="main_subtro">
                    최고의 팀메이트를 만나고, 원하는 기사를 읽어보세요!        
                </p>
                {% endif %}
                {% comment %} <p class='main_subtro'>I will always remember The day you kissed my lips</p>
                <p class='main_subtro'>Light as a feather And it went just like this</p>
                <p class='main_subtro'>No, it's never been better Than the summer of 2020</p> {% endcomment %}
            </div>
            <img id='main_team_illustration' src='{% static 'team_illustration.png' %}' />
        </div>
        <div id="main_article_bottom">
            {% if max_domain == 0 %}
            <a href='{% url 'newsletter:health' %}'><img class='main_cards' src='{% static 'newsletter_card.png' %}' /></a>
            {% endif %}
            {% if max_domain == 1 %}
            <a href='{% url 'newsletter:economy' %}'><img class='main_cards' src='{% static 'newsletter_card.png' %}' /></a>
            {% endif %}
            {% if max_domain == 2 %}
            <a href='{% url 'newsletter:art' %}'><img class='main_cards' src='{% static 'newsletter_card.png' %}' /></a>
            {% endif %}
            {% if max_domain == 3 %}
            <a href='{% url 'newsletter:all' %}'><img class='main_cards' src='{% static 'newsletter_card.png' %}' /></a>
            {% endif %}
            {% if max_domain == 4 %}
            <a href='{% url 'newsletter:social' %}'><img class='main_cards' src='{% static 'newsletter_card.png' %}' /></a>
            {% endif %}
            {% if max_domain == 5 %}
            <a href='{% url 'newsletter:tech' %}'><img class='main_cards' src='{% static 'newsletter_card.png' %}' /></a>
            {% endif %}
            {% comment %} <a href='{% url 'team_rec:person' user.pk %}'><img class='main_cards' src='{% static 'teammate_card.png' %}' /></a> {% endcomment %}
            <a href='{% url 'team_rec:choice' %}'><img class='main_cards' src='{% static 'teammate_card.png' %}' /></a>
            {% if user.customer.study.get.study_sum != 10 %}
            <a href='{% url 'home' %}'><img class='main_cards' src='{% static 'studymate_card.png' %}' /></a>
            {% else %}
            <a href='{% url 'study_rec:study_rec_list' user.pk %}'><img class='main_cards' src='{% static 'studymate_card.png' %}' /></a>
            {% endif %}
        </div>

        <div id="main_footer">
            <p>Gwangju Ai School Project <a href="https://github.com/inuinseoul/2020teammate/tree/master/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%20%EC%84%9C%EB%B9%84%EC%8A%A4%20%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/ai_teammate">'TeamMate'</a> </p>
        </div>        
    </div>

    {%else%}
    <div id="home_container">
        <div id="home_left">
            <div id="home_title">
                <h1>Create your team</h1>
                <h1>Join now</h1>
            </div>
            
            <div id="home_sign_container">
                <div class="home_sign"><a href='{% url 'users:login'%}'>signin</a></div>
                <div class="home_sign"><a href='{% url 'users:signup' %}'>signup</a></div>
            </div>
        </div>

        <div id="home_right">
            <img id="home_team_illustration_ground" src='{% static 'team_illustration_ground.png' %}' />
            <!-- <img id="ground_a" src='../resource/ground_a.png' /> -->
        </div>
    </div>
    {% endif %}
{% endblock %}