{% extends "base.html" %}

{% block title %}
<title>알람 리스트</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' href='{% static 'alarm.css' %}'/>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    <div id="main">

        <div id="header">
        </div>

        <div id="article">

            <!-- 팀 알림 영역 -->
            <div class="article_body" id='team'>
                
                <div class="alarm_title">
                    <h1>TeamMate</h1>
                    <p>알림 박스를 클릭하면 상세 정보를 조회할 수 있습니다</p>
                </div>


                <div class="alarm_container">

                {% if message_list_team|length == 0 %}
                  <div class="alarm_box">
                      <p style="width: 100%; text-align: center; color: #868686; margin-top: 10px;">Empty</p>                    
                  </div>
                {% else %}
                  {% for message in message_list_team %}
                    <div class="alarm_box">
                        <a href='{% url 'alarm:del_alarm' message.pk %}'><img src="{% static 'close_dark.png' %}" /></a>
                        <div class="alarm">
                            <a href="#" data-toggle="modal" data-target="#exampleModal1{{message.pk}}">
                                <p>{{message.sender.name}}님에게서 팀메이트 요청 도착</p>
                                <p style="color: #868686;">{{message.sentAt}}</p>
                                <hr />
                                {% if message.contents|length == 0 %}
                                  <p>내용없음</p>
                                {% else %}
                                  <p>{{message.contents}}</p>
                                {% endif %}
                            </a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1{{message.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">'{{message.sender.name}}'님의 정보</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-left">                            
                                <table class="table text-center">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col" style="width: 50%">선호역할</th>
                                      <th scope="col" style="width: 50%">하트</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" style="width: 50%">데이터</th>
                                      <td style="width: 50%">{{message.sender.role.get.analysis_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">웹</th>
                                      <td style="width: 50%">{{message.sender.role.get.web_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">디자인</th>
                                      <td style="width: 50%">{{message.sender.role.get.design_hearts}}</td>
                                    </tr>
                                     <tr>
                                      <th scope="row" style="width: 50%">모델링</th>
                                      <td style="width: 50%">{{message.sender.role.get.modeling_hearts}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <br>
                                <table class="table text-center">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col" style="width: 50%">관심도메인</th>
                                      <th scope="col" style="width: 50%">하트</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" style="width: 50%">건강</th>
                                      <td style="width: 50%">{{message.sender.domain.get.health}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">경제</th>
                                      <td style="width: 50%">{{message.sender.domain.get.economy}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">문화/예술</th>
                                      <td style="width: 50%">{{message.sender.domain.get.culture_art}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">교육</th>
                                      <td style="width: 50%">{{message.sender.domain.get.education}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">교육</th>
                                      <td style="width: 50%">{{message.sender.domain.get.society}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">교육</th>
                                      <td style="width: 50%">{{message.sender.domain.get.technology}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  {%endfor%}
                  <p>마지막입니다</p>
                {% endif %}


                </div>

            </div>

            <!-- 스터디 알림 영역 -->
            <div class="article_body">

                <div class="alarm_title">
                    <h1>StudyMate</h1>
                    <p>알림 박스를 클릭하면 상세 정보를 조회할 수 있습니다</p>
                </div>
                
                <div class="alarm_container">

                {% if message_list_study|length == 0 %}
                  <div class="alarm_box">
                      <p style="width: 100%; text-align: center; color: #868686; margin-top: 10px;">Empty</p>                    
                  </div>
                {% else %}
                  {% for message in message_list_study %}
                    <div class="alarm_box">
                        <a href='{% url 'alarm:del_alarm' message.pk %}'><img src="{% static 'close_dark.png' %}" /></a>
                        <div class="alarm">
                            <a href="#" data-toggle="modal" data-target="#exampleModal2{{message.pk}}">
                                <p>{{message.sender.name}}님에게서 스터디메이트 요청 도착</p>
                                <p style="color: #868686;">{{message.sentAt}}</p>
                                <hr />
                                {% if message.contents|length == 0 %}
                                  <p>내용없음</p>
                                {% else %}
                                  <p>{{message.contents}}</p>
                                {% endif %}
                            </a>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal2{{message.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">'{{message.sender.name}}'님의 정보</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <table class="table text-center">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th scope="col" style="width: 50%">선호스터디</th>
                                      <th scope="col" style="width: 50%">하트</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row" style="width: 50%">웹</th>
                                      <td style="width: 50%">{{message.sender.study.get.web_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">디자인</th>
                                      <td style="width: 50%">{{message.sender.study.get.design_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">머신러닝</th>
                                      <td style="width: 50%">{{message.sender.study.get.machine_learning_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">통계</th>
                                      <td style="width: 50%">{{message.sender.study.get.statistics_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">딥러닝</th>
                                      <td style="width: 50%">{{message.sender.study.get.deep_learning_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">알고리즘</th>
                                      <td style="width: 50%">{{message.sender.study.get.algorithm_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">자연어처리</th>
                                      <td style="width: 50%">{{message.sender.study.get.nlp_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">파이썬기초</th>
                                      <td style="width: 50%">{{message.sender.study.get.basic_python_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">데이터분석</th>
                                      <td style="width: 50%">{{message.sender.study.get.data_analysis_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">음성인식</th>
                                      <td style="width: 50%">{{message.sender.study.get.voice_recog_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">컴퓨터비전</th>
                                      <td style="width: 50%">{{message.sender.study.get.computer_vision_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">추천시스템</th>
                                      <td style="width: 50%">{{message.sender.study.get.rec_system_hearts}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row" style="width: 50%">강화학습</th>
                                      <td style="width: 50%">{{message.sender.study.get.reinforcement_hearts}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  {%endfor%}
                  <p>마지막입니다</p>
                {% endif %}
    
                </div>

            </div>

            <div class="article_side">
                <h1>TeamMate</h1>
                <p><a href='{% url 'home' %}'>home</a></p>
            </div>
            
        </div>

        <div id="footer">
        </div>

    </div>
{% endblock %}
