{% extends "base.html" %}

{% block title %}
<title>로그인</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' type="text/css" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->

    
    <form class="form-signin text-center" action="{% url 'users:login'%}" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'logo.png'%}" alt="{% static 'logo.png'%}" width="200" height="200">
        {% if error.state %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <strong>{{ error.msg }}</strong> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {%endif%}
        <input id="inputEmail" class="form-control" name='user_id' placeholder="ID" required autofocus>
        <input type='password' id="inputPassword" class="form-control" name='user_pw' placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2020</p>
    </form>
{% endblock %}
