{% extends "base.html" %}

{% block title %}
<title>회원가입 - 기본정보입력</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' href='{% static 'signup.css'%}' />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
{% if error.state %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
  <strong>{{ error.msg }}</strong> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}

<div id="signup_container">
    <div id="signup_area">
        <div id='signup_title'>
            <h1>Create your account</h1>
            <p>for teammate</p>
        </div>
        <div id='signup_form'>
            <form action="{% url 'users:signup' %}" method="POST">
            {% csrf_token %}
                <div id="sigup_item">
                    <div class='signup_large'>
                        <span class='signup_label'>ID</span><span class='signup_description'>계정의 아이디를 입력해주세요</span><br />
                        <input class='signup_input' type='text' placeholder='아이디 입력' name='user_id'/>
                    </div>

                    <div class='signup_smaill'>
                        <div>
                            <span class='signup_label'>PASSWORD</span><span class='signup_description'>계정의 비밀번호를 입력해주세요</span>
                        </div>
                        <div>
                            <input class='signup_input' type='password' placeholder='비밀번호 입력' name='user_pw'/>
                            <input class='signup_input' type='password' placeholder='비밀번호 확인' name='user_pw_check'/>
                        </div>
                    </div>

                    <div class='signup_large'>
                        <span class='signup_label'>NAME</span><span class='signup_description'>실명을 입력해주세요</span><br />
                        <input class='signup_input' type='text' placeholder='이름 입력' name='name'/><br />
                    </div>

                    <div class='signup_large'>
                        <span class='signup_label'>E-MAIL</span><span class='signup_description'>이메일을 형식에 맞게 입력해주세요</span><br />
                        <input class='signup_input' type='email' placeholder='example@email.com' name='email'/><br />
                    </div>

                    <div class='signup_large'>
                        <span class='signup_label'>PHONE</span><span class='signup_description'>휴대전화번호를 형식에 맞게 입력해주세요</span><br />
                        <input class='signup_input' type='tel' placeholder='010-0000-0000' pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" name='phone_num'/><br />
                    </div>

                    <div class='signup_large'>
                        <span class='signup_label'>INTRODUCE</span><span class='signup_description'>자신에 대해 자유롭게 소개해주세요</span><br />
                        <textarea class='signup_input' name="intro" placeholder='예) 개발은 처음이지만 열심히하겠습니다. 잘 부탁드립니다.'>{{customer.intro}}</textarea>
                    </div>
                    
                </div>
                <button type='submit'>다음</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
