{% extends "base.html" %}

{% block title %}
<title>회원가입 - 선호역할설정</title>
{% endblock %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<link rel='stylesheet' href='{% static 'signup5.css' %}' />
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel='stylesheet' type='text/css'>

<script type='text/javascript'>
    function setheart(id, value) {
        var el1 = document.getElementById('hearts');
        var el2 = document.getElementById(id);

        var hearts = Number(el1.textContent);
        var select = Number(el2.value);
        
        if (value < 0) {
            if ((select + value >= 0)) {
                el1.innerHTML = hearts - value;
                el2.value = select + value;
            }
        }
        if (value > 0) {
            if (hearts - value >= 0) {
                el1.innerHTML = hearts - value;
                el2.value = select + value;
            }
        }
    }
</script>

<!-- <style>
    html, body {
        overflow-y: hidden;
    }
</style> -->
</script>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
    <div id="container">
        {% if error.state %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
        <strong>{{ error.msg }}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {%endif%}
        <div id="area">
            <div id="title">
                <h1>Select your position</h1>
                <p>선호하는 역할에 하트를 배팅해주세요</p>
            </div>
            <div id="form">
                <form action="{% url 'users:signup4' user.customer.pk %}" method='POST'>
                {% csrf_token %}
                    <div id='heartbox'>
                        <img src='{% static 'heart.png' %}' />
                        <p id='hearts'>10</p>
                    </div>
                    <img id='line_type_A' src='{% static 'line_type_A.png' %}' />

                    <div id="form_group">

                        <div>
                            <h4>데이터분석</h4>
                            <div>
                                <input class='bttn' type='button' onclick='setheart("analysis_hearts", -1)' value='-'/>
                                <input class='value' id='analysis_hearts' type='number' name='analysis_hearts' value=0 readonly/>
                                <input class='bttn' type='button' onclick='setheart("analysis_hearts", 1)' value='+'/>
                            </div>
                        </div>
                        
                        <div>
                            <h4>웹</h4>
                            <div>
                                <input class='bttn' type='button' onclick='setheart("web_hearts", -1)' value='-'/>
                                <input class='value' id='web_hearts' type='number' name='web_hearts' value=0 readonly/>
                                <input class='bttn' type='button' onclick='setheart("web_hearts", 1)' value='+'/>
                            </div>
                        </div>
                    
                        <div>
                            <h4>디자인</h4>
                            <div>
                                <input class='bttn' type='button' onclick='setheart("design_hearts", -1)' value='-'/>
                                <input class='value' id='design_hearts' type='number' name='design_hearts' value=0 readonly/>
                                <input class='bttn' type='button' onclick='setheart("design_hearts", 1)' value='+'/>
                            </div>
                        </div>

                        <div>
                            <h4>모델링</h4>
                            <div>
                                <input class='bttn' type='button' onclick='setheart("modeling_hearts", -1)' value='-'/>
                                <input class='value' id='modeling_hearts' type='number' name='modeling_hearts' value=0 readonly/>
                                <input class='bttn' type='button' onclick='setheart("modeling_hearts", 1)' value='+'/>
                            </div>
                        </div>
                    </div>
                    <button type='submit'>다음</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
