* {
    font-family: "Noto Sans KR", sans-serif !important;
}

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

h4 {
    font-size: 30px;
    font-weight: 900;
}

#score_container {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    /* background-color: tan; */
    align-items: center;
}
#score_area {
    width: 70%;
    display: flex;
    flex-direction: column;
    /* background-color: teal; */
    align-items: center;
}
#score_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellowgreen; */
    align-items: center;
    justify-content: flex-start;
    line-height: 0%;
}
#score_title > h1 {
    color: #ef6a56;
    font-size: 63px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;
}
#score_title > p {
    color: #868686;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 2%;
}

#score_form {
    width: 70%;
    /* background-color: pink; */
}
#score_form > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#score_form > form > div {
    width: 100%;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.score_question {
    width: 100%;
    height: 100%;
    /* background-color: sienna; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.score_question > p {
    width: 130px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    color: #868686;
}
.score_question > p:nth-child(1) {text-align: left;}
.score_question > p:nth-child(2) {text-align: left;}
.score_question > p:nth-last-child(2) {text-align: right;}
.score_question > p:nth-last-child(1) {text-align: right;}


#score_form > form > button {
    font-size: 20px;
    color: white;
    padding: 7px 25px 7px 25px;
    background-color: #ffbbb1;
    border-radius: 7px;
    margin-top: 7%;
    margin-bottom: 7%;
    border: 0;
}