{% extends "base.html" %}

{% block style %}
<!--이 곳에 style에 해당하는 코드 (css파일 연결 등) 작성-->
<style>
    .view {
        width: 50%;
        margin: 10px;
    }
    .right {
        float:right
    }
    .label {
        font-size: 20px;
        color: black;
        margin-right: 10px;
    }
    .description {
        font-size: 14px;
        color: #868686;
    }
    
    input {
        border: 2px solid black;
        border-radius: 7px;

        width: 100%;
        height: 35px;
    }
    textarea {
        border: 2px solid black;
        border-radius: 7px;

        width: 100%;
        height: 100px;
    }

    .form_input {
        margin-top: 3%;
        margin-bottom: 3%;
        width: 60%;
    }
    .form_button {
        margin-top: 10%;
        margin-bottom: 20%;
    }
    .button_square { width: 60% }

    .btn-group { float: right; }
    
    #right > h2 {
        width: 60%;
        text-align: center;
        /* background-color: coral; */
    }

</style>
{% endblock %}

{% block content %}
<!--이 곳에 페이지의 내용 작성-->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#ffbbb1;">
    <a class="navbar-brand" href="{% url 'home' %}" >Home</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item justify-content-end">
          <a class="nav-link" href="{% url 'edit:info_edit' user.customer.pk %}">mypage</a>
        </li>
      </ul>
      <a class="nav-link my-2 my-sm-0" style="color:white;" href="{% url 'users:logout' %}">signout</a>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <form action="{% url 'team_rec:detail1' team.pk %}" method="POST" class="team-form">
  {% csrf_token %}
  <div class='view'>
  <div class='form_input'>
    <span class='label'>팀명</span><span class='description'></span><br />
    <input type='text' placeholder="팀이름을 입력해주세요" name="name" value='{{team.name}}'/>
  </div>
  <div class='form_input'>
    <span class='label'>팀장ID</span><span class='description'><span>(만약 팀장을 바꾸신다면 회원id를 수정해주세요!!)</span><br />
    <input type='text' placeholder="팀장의 id를 입력해주세요" name="leader" value='{{team.leader}}'/>
  </div>
  <div class='form_input'>
    <span class='label'>팀장</span><span class='description'></span><br />
    <input type='text' name="leader2" value='{{team.leader.customer.name}}' readonly/>
  </div>
  <div class='form_input'>
    <span class='label'>팀소개</span><span class='description'></span><br />
    <textarea name="intro" placeholder='팀소개를 해주세요'>{{team.intro}}</textarea>
  <br/>
  <button type='submit'>팀 정보 수정하기</button>
  </form>
  </div>
  </div>
{% endblock %}


 